body{
  font-family: Verdana, Helvetica, Geneva, Tahoma, sans-serif;
  position: relative;
  line-height: 1.5;
}

/*********************** general section ***********************/
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
header{
  font-size: 1.9em;
  font-weight: 500;
  margin: 10px;
}

.content{
  margin: 10px 40px;
  color: rgb(88, 88, 88);
}
span{
  display: block;
  width: 100%;
  margin: 0 0 10px 0;
}
code{
  display: block;
  background-color: rgb(224, 224, 224);
  margin: 0 15px 0 15px;
  padding: 10px 0 10px 20px;
  font-size: 14px;
  border-radius: 5px;
}

/*********************** nav section ***********************/
#navbar{
  /* width: 25%; */
  min-width: 250px;
  max-width: 300px;
  height: 100%;
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  border-right: 5px solid grey;
  vertical-align: middle;
}
#navbar header{
  font-size: 28px;
}
#navbar ul{
  height: 88%;
  list-style: none;
  text-align: left;
  margin: 30px 0;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}
#navbar ul li{
  padding: 1em 0;
  vertical-align: middle;
  border-top: 1px solid black;
}
#navbar ul li a{
  display: block;
  width: 100%;
  /* margin: 0 0 0 1.6em; */
  margin: 0 1.6em;
  color: #4D4E53;
  font-size: 1.125em;
}


/*********************** main-doc section ***********************/
#main-doc{
  /* width: 100%; */
  padding-top: 10px;
  margin-bottom: 100px;
}
#main-doc section{
  margin-bottom: 30px;
}
.right{
  position: absolute;
  margin-left: 350px;
}
#main-doc header{
  text-decoration: underline rgb(119, 119, 119) solid 2px;
}
.content p{
  margin: 15px 0;
}
.content ul li{
  margin: 15px 0 0 50px;
}

#Reference ul{
  list-style: none;
  margin: 0 0 0 40px;
}
#Reference a{
  text-decoration: underline;
}
#Reference a:hover{
  color: crimson;
}

